{% extends "bootstrap/base.html" %}


{% block scripts %}
  {{ super() }}
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function() {
      $('#refreshBtn').click(function() {
        location.reload();
      });

      $('#clearLogBtn').click(function() {
        $.get("{{ url_for('clear_data') }}")
        location.reload();
      });

      $('.remove-btn').click(function(event) {
        event.preventDefault();
        id = $(this).data('id');
        $.get($SCRIPT_ROOT + '/api/remove/' + id);
        location.reload();
      });
    });
  </script>
{% endblock %}


{% block title %}Doorbell Watcher{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Doorbell Watcher
      </a>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button id="refreshBtn" type="button" class="btn btn-primary navbar-btn">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
      </button>
      <a class="btn btn-default navbar-btn pull-right" data-toggle="modal" href='#modal-clear'>
        <span class="glyphicon glyphicon-remove"></span> Clear
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 cols-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ring Times
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for ring in rings %}
            <tr>
              <td>
                {{ ring.datetime }}
              </td>
              <td>
                {{ ring.count }}
              </td>
              <td>
                <a class="remove-btn pull-right" href="#" data-id="{{ ring.eid }}">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 cols-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Log Entries</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for log in logs %}
            <tr>
              <td>
                {{ log.datetime }}
              </td>
              <td>
                {{ log.message }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-clear">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Doorbell Watcher</h4>
      </div>
      <div class="modal-body">
        Do you want to clear the list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="clearLogBtn" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

