{% extends "bootstrap/base.html" %}


{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('#refreshBtn').click(function() {
        location.reload();
      });

      $('#clearLogBtn').click(function() {
        $.get("{{ url_for('clear_data') }}")
        location.reload();
      });
    });
  </script>
{% endblock %}


{% block title %}Doorbell Watcher{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Doorbell Watcher
      </a>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <button id="refreshBtn" type="button" class="btn btn-primary navbar-btn">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
      </button>
      <button id="clearLogBtn" type="button" class="btn btn-default pull-right navbar-btn">
        <span class="glyphicon glyphicon-remove"></span> Clear
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 cols-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ring Times
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for ring in rings %}
            <tr>
              <td>
                {{ ring }}<br/>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

